<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logincontroller</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutcontroller</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homecontroller</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturertimetablecontroller</servlet-name>
        <servlet-class>lecturer.TimetableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturertakeattandance</servlet-name>
        <servlet-class>lecturer.TakeAttandance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturerattandancereport</servlet-name>
        <servlet-class>lecturer.AttandanceReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincontroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutcontroller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homecontroller</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturertimetablecontroller</servlet-name>
        <url-pattern>/lecturer/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturertakeattandance</servlet-name>
        <url-pattern>/lecturer/takeattandance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturerattandancereport</servlet-name>
        <url-pattern>/lecturer/attandancereport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
